@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #db0000;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subpage-body {
  align-items: start;
}

.heading-home,
.heading-subpage {
  font-family: "Kaushan Script";
  text-align: center;
}

.heading-home, .heading-subpage {
  font-family: "Kaushan Script";
  text-align: center;
}
.heading-home {
  margin-top: 0;
  font-size: 4em;
}
.heading-subpage {
  font-size: 2.5em;
  margin-bottom: 0em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 50%;
  font-size: 0.75rem;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #db0000;
}
::-webkit-scrollbar-thumb {
  background: #971919;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.subpage-content {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-icon {
  width: 35px;
}
.menu-icon-bg {
  background-color: #db0000;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button {
  background-color: #971919;
  padding: 0.8rem;
  margin: 0.5em;
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  text-align: center;
}
.menu-text {
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
}

.matchup {
  background-color: #971919;
  border-radius: 1rem;
  margin-bottom: 2em;
  padding: 1rem;
  text-align: center;
}

.radio-item {
  background-color: #db0000;
  border-radius: 1rem;
  padding: 0 1em;
  display: flex;
  text-align: center;
  align-items: center;
}
.radio-item > input[type=radio]::after {
  width: 30px;
  height: 30px;
  top: -9px;
  left: -7px;
  border-radius: 50%;
  position: relative;
  content: "";
  display: inline-block;
  background-color: #971919;
}
.radio-item > input[type=radio]:checked::after {
  background-color: white;
  box-shadow: inset 0 0 0 6px #971919;
  transition: background-color 200ms;
}
.radio-item > label {
  text-align: left;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.or {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2em;
  margin: 0.25em;
}

.button-press {
  animation: button 300ms linear;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.next-btn {
  background-color: #971919;
  border: 0;
  color: white;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1rem;
  margin-bottom: 4em;
  cursor: pointer;
  transition: all 150ms;
}
.next-btn:hover {
  transform: scale(1.1);
}
.next-btn:active {
  background-color: white;
  color: #971919;
  transform: scale(1);
}
.next-btn > .down-arrow {
  background: #db0000;
  border-radius: 50%;
  margin-top: 0.5em;
  padding: 0.5em;
  width: 2em;
}

@media (min-width: 45rem) {
  html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-heading {
    font-size: 5em;
    margin-top: 0;
  }

  .menu {
    flex-direction: row;
    justify-content: center;
  }
  .menu-button {
    width: 9rem;
    padding: 1em;
    margin: 0 1em;
    transition: transform 150ms;
    /* zoom */
    display: flex;
    flex-direction: column;
  }
  .menu-button:hover {
    transform: scale(1.05);
    /* zoom */
    cursor: pointer;
  }
  .menu-icon {
    width: 80px;
  }
  .menu-icon-bg {
    width: 100px;
    height: 100px;
    background-color: #db0000;
    border-radius: 50%;
    padding: 1rem;
  }
  .menu-text {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
