// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Color Palette
$black: black;
$darkred: #971919;
$red: #db0000;
$yellow: #ffbe55;
$offw: #f5eded;
$white: white;

// Variables
$desktop-br: 45rem;
$border-radius: 1rem;

////
//  General
//////
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $red;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subpage-body {
    align-items: start;
}

.heading-home,
.heading-subpage {
    font-family: "Kaushan Script";
    text-align: center;
}

.heading {
    &-home,
    &-subpage {
        font-family: "Kaushan Script";
        text-align: center;
    }
    &-home {
        margin-top: 0;
        font-size: 4em;
    }
    &-subpage {
        font-size: 2.5em;
        margin-bottom: 0em;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 50%;
    font-size: .75rem;
}

////
//  Mobile First
//////
.subpage-content {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-icon {
        width: 35px;
        &-bg {
            background-color: $red;
            border-radius: 50%;
            padding: .6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-button {
        background-color: $darkred;
        padding: .8rem;
        margin: .5em;
        width: 15rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    &-text {
        width: 100%;
        font-size: 1.5rem;
        white-space: nowrap;
        margin: 0;
    }
}

.matchup {
    background-color: $darkred;
    border-radius: $border-radius;
    margin-bottom: 2em;
    padding: 1rem;
    text-align: center;
}

.radio-item {
    background-color: $red;
    border-radius: $border-radius;
    padding: 0 1em;
    display: flex;
    text-align: center;
    align-items: center;
    & > input[type="radio"] {
        // Custom bullet selector thing
        &::after {
            width: 30px;
            height: 30px;
            top: -9px;
            left: -7px;
            border-radius: 50%;
            position: relative;
            content: '';
            display: inline-block;
            background-color: $darkred;
        }
        &:checked::after {
            background-color: $white;
            box-shadow: inset 0 0 0 6px $darkred;
            transition: background-color 200ms;
        }
    }
    & > label {
        text-align: left;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        padding: 1em;
    }
}

.or {
    font-family: "Kaushan Script", sans-serif;
    font-size: 2em;
    margin: .25em;
}

.button-press {
    animation: button 300ms linear;
}

@keyframes button {
    0% { transform: scale(1); }
    30% { transform: scale(.95); }
    100% { transform: scale(1); }
}

////
//  Desktop
//////
@media (min-width: $desktop-br) {
    html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-heading {
        font-size: 5em;
        margin-top: 0;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
        &-button {
            width: 9rem;
            padding: 1em;
            margin: 0 1em;
            transition: transform 150ms; /* zoom */
            display: flex;
            flex-direction: column;
            &:hover {
                transform: scale(1.05); /* zoom */
                cursor: pointer;
            }
        }
        &-icon {
            width: 80px;
            &-bg {
                width: 100px;
                height: 100px;
                background-color: $red;
                border-radius: 50%;
                padding: 1rem;
            }
        }
        &-text {
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 0;
        }
    }
}